In [1]:
%run "H:\Python\connect to database.py"

In [2]:
import numpy as np
import pandas as pd

In [3]:
extractdt = '20171026'

In [4]:
OMJOB = pd.read_sql("select * from HR_"+extractdt+".HR_OM_JOB_V", EDW)

In [5]:
OMJOB.dtypes

job_cd                           int64
start_date              datetime64[ns]
end_date                        object
job_ttl                         object
job_min_rqmt                    object
eeo_cd                          object
eeo_nm                          object
aap_grp_cd                      object
aap_grp_nm                      object
flsa_exmp_ind                   object
shrt_txt                        object
emp_cat_cd                      object
emp_cat_nm                      object
curr_ind                        object
src_last_updated_by             object
src_last_update_date    datetime64[ns]
endow_desc_ttl                  object
endow_ind                       object
fac_rnk_cd                      object
fac_rnk_nm                      object
fac_ttl_ind                     object
created_by                      object
create_date             datetime64[ns]
last_updated_by                 object
last_update_date        datetime64[ns]
dtype: object

In [6]:
#############EMPCATCD##############################

In [7]:
EMPCD = OMJOB[['emp_cat_cd']].dropna().drop_duplicates()

In [8]:
EMPCD['emp_cat_code_1']= EMPCD['emp_cat_cd'].str.slice(0,1)
EMPCD['emp_cat_code_12']= EMPCD['emp_cat_cd'].str.slice(0,2)
EMPCD['emp_cat_code_3']= EMPCD['emp_cat_cd'].str.slice(2,3)

def emp1(a):
    if a=='D':
        r ='Student'
    elif a=='F':
        r = 'Faculty and Academic Staff'
    elif a =='G':
        r = 'Graduate Assistant'
    elif a=='S':
        r = 'Support Staff'
    elif a =='T':
        r = 'Temporary On Call'
    else:
        r=np.nan
    return r

def emp12(a):
    if a=='D':
        r ='Student'
    elif a=='FE':
        r = 'Extension Academic'
    elif a =='FF':
        r = 'Faculty'
    elif a=='FH':
        r = 'Research'
    elif a =='FL':
        r = 'Librarian'
    elif a =='FM':
        r = 'Academic'
    elif a =='FN':
        r = 'NSCL'
    elif a=='FR':
        r = 'Other'
    elif a =='FS':
        r = 'Specialist'
    elif a =='FT':
        r = 'Other Title'
    elif a =='FX':
        r = 'Executive Management'
    elif a =='G':
        r = 'Grad Asst'
    elif a=='S1':
        r ='Service-Maintenance'
    elif a =='S2':
        r = 'Stage Managers'
    elif a == 'S5':
        r = 'Operating Engineers'
    elif a  =='S9':
        r = 'Skilled Trades'
    elif a  =='SC':
        r = 'Clerical/Technical'
    elif a  =='SE':
        r = 'Extension Support'
    elif a  =='SF':
        r = 'Police'
    elif a  =='SK':
        r = 'Sergeants'
    elif a  =='SN':
        r = 'Nurses'
    elif a  =='SP':
        r = 'Professional'
    elif a  =='SR':
        r = 'Residence Life'
    elif a  =='SS':
        r = 'Supervisory'
    elif a  =='SX':
        r = 'Confidential'
    elif a  =='SZ':
        r = 'Off Campus Supervisory'
    elif a  =='T0':
        r = 'Support Staff Temp/On Call'
    elif a  =='TF':
        r = 'Academic On Call'
    elif a  =='TM':
        r = 'Support Staff Monthly On Call'
    elif a  =='TS':
        r = 'Support Staff On Call'
    elif a =='TV':
        r = 'Support Staff Variable On Call'
    
    else:
        r=np.nan
    return r


def emp3(a):
    if a=='C':
        r ='Continuing System'
    elif a=='E':
        r = 'Executive Management'
    elif a =='F':
        r = 'Fixed Term'
    elif a=='M':
        r = 'Management'
    elif a =='T':
        r = 'Tenure System'
    elif a =='9':
        r = 'Additional'
    else:
        r=np.nan
    return r


EMPCD['emp_cat_code_name_1'] = EMPCD['emp_cat_code_1'].apply(emp1)
EMPCD['emp_cat_code_name_12'] = EMPCD['emp_cat_code_12'].apply(emp12)
EMPCD['emp_cat_code_name_3'] = EMPCD['emp_cat_code_3'].apply(emp3)
EMPCD

,emp_cat_cd,emp_cat_code_1,emp_cat_code_12,emp_cat_code_3,emp_cat_code_name_1,emp_cat_code_name_12,emp_cat_code_name_3
0,SS,S,SS,,Support Staff,Supervisory,NaN
1,SP,S,SP,,Support Staff,Professional,NaN
27,FFT,F,FF,T,Faculty and Academic Staff,Faculty,Tenure System
40,FHF,F,FH,F,Faculty and Academic Staff,Research,Fixed Term
43,G,G,G,,Graduate Assistant,Grad Asst,NaN
44,FXE,F,FX,E,Faculty and Academic Staff,Executive Management,Executive Management
45,FRF,F,FR,F,Faculty and Academic Staff,Other,Fixed Term
46,FLC,F,FL,C,Faculty and Academic Staff,Librarian,Continuing System
47,FLF,F,FL,F,Faculty and Academic Staff,Librarian,Fixed Term
57,FMM,F,FM,M,Faculty and Academic Staff,Academic,Management
58,FTF,F,FT,F,Faculty and Academic Staff,Other Title,Fixed Term
63,FTC,F,FT,C,Faculty and Academic Staff,Other Title,Continuing System
67,FFF,F,FF,F,Faculty and Academic Staff,Faculty,Fixed Term
68,FNC,F,FN,C,Faculty and Academic Staff,NSCL,Continuing System
69,FNF,F,FN,F,Faculty and Academic Staff,NSCL,Fixed Term
99,FEC,F,FE,C,Faculty and Academic Staff,Extension Academic,Continuing System
100,FEF,F,FE,F,Faculty and Academic Staff,Extension Academic,Fixed Term
214,FSC,F,FS,C,Faculty and Academic Staff,Specialist,Continuing System
215,FSF,F,FS,F,Faculty and Academic Staff,Specialist,Fixed Term
326,SN,S,SN,,Support Staff,Nurses,NaN
545,D,D,D,,Student,Student,NaN
887,S1,S,S1,,Support Staff,Service-Maintenance,NaN
907,SC,S,SC,,Support Staff,Clerical/Technical,NaN
1071,S5,S,S5,,Support Staff,Operating Engineers,NaN
1089,SR,S,SR,,Support Staff,Residence Life,NaN
1133,SE,S,SE,,Support Staff,Extension Support,NaN
1136,SF,S,SF,,Support Staff,Police,NaN
1138,SK,S,SK,,Support Staff,Sergeants,NaN
1171,TF,T,TF,,Temporary On Call,Academic On Call,NaN
1244,S9,S,S9,,Support Staff,Skilled Trades,NaN
1384,S2,S,S2,,Support Staff,Stage Managers,NaN
1385,T0,T,T0,,Temporary On Call,Support Staff Temp/On Call,NaN
1499,TS,T,TS,,Temporary On Call,Support Staff On Call,NaN
1508,TM,T,TM,,Temporary On Call,Support Staff Monthly On Call,NaN
1615,TV,T,TV,,Temporary On Call,Support Staff Variable On Call,NaN
1724,FTT,F,FT,T,Faculty and Academic Staff,Other Title,Tenure System
2043,FRC,F,FR,C,Faculty and Academic Staff,Other,Continuing System

In [29]:
import sqlalchemy
def sqlcol(dfparam):    

    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=255)})
        
        if "category" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=255)})
            
        if "datetime" in str(j):
            dtypedict.update({i: sqlalchemy.types.DateTime()})

        if "float" in str(j):
            dtypedict.update({i: sqlalchemy.types.Float(precision=1, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sqlalchemy.types.INT()})

    return dtypedict

empcddict = sqlcol(EMPCD)

In [32]:
import time
from sqlalchemy import create_engine, event
from urllib.parse import quote_plus

#conn_str = r'mssql+pymssql://OPBDB2/Chen_Test'
#engine = create_engine(conn_str)

conn =  "Driver={SQL Server};Server=OPBDB2;Database=Chen_Test;Trusted_Connection=yes;"
quoted = quote_plus(conn)
new_con = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(new_con)

@event.listens_for(engine, 'before_cursor_execute')
def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
    print("FUNC call")
    if executemany:
        cursor.fast_executemany = True


table_name = 'EMP_CAT_CD_RV'+'_'+extractdt


s = time.time()
EMPCD.to_sql(table_name, engine, if_exists = 'replace', chunksize = 500,index=False, dtype=outputdict)
print(time.time() - s)

FUNC call
FUNC call
FUNC call
FUNC call
0.11046886444091797

In [31]:
OMJOB.head()

,job_cd,start_date,end_date,job_ttl,job_min_rqmt,eeo_cd,eeo_nm,aap_grp_cd,aap_grp_nm,flsa_exmp_ind,...,src_last_update_date,endow_desc_ttl,endow_ind,fac_rnk_cd,fac_rnk_nm,fac_ttl_ind,created_by,create_date,last_updated_by,last_update_date
0,20001763,2010-12-17,9999-12-31 00:00:00,Administrative Associate II/S,The job requires: knowledge equivalent to that...,A1,Officials and Managers,B3,Business Managers,Y,...,2010-12-01,None,N,None,None,N,HR_OM_JOB_SAP_EXTRACT,2013-10-15,HR_OM_JOB_SAP_EXTRACT,2017-07-27 22:47:16
1,20001764,2010-12-17,9999-12-31 00:00:00,Administrative Assistant I,The job requires: knowledge equivalent to that...,A2,Professionals,C2,Administrative Assistant/Supervisor/Coordinator,Y,...,2012-01-31,None,N,None,None,N,HR_OM_JOB_SAP_EXTRACT,2013-10-15,HR_OM_JOB_SAP_EXTRACT,2017-07-27 22:47:16
2,20001765,2010-12-17,9999-12-31 00:00:00,Administrative Assistant I/S,The job requires: knowledge equivalent to that...,A2,Professionals,C2,Administrative Assistant/Supervisor/Coordinator,Y,...,2010-12-01,None,N,None,None,N,HR_OM_JOB_SAP_EXTRACT,2013-10-15,HR_OM_JOB_SAP_EXTRACT,2017-07-27 22:47:16
3,20001766,2010-12-17,9999-12-31 00:00:00,Administrative Assistant II,The job requires: knowledge equivalent to that...,A2,Professionals,C2,Administrative Assistant/Supervisor/Coordinator,Y,...,2010-12-01,None,N,None,None,N,HR_OM_JOB_SAP_EXTRACT,2013-10-15,HR_OM_JOB_SAP_EXTRACT,2017-07-27 22:47:16
4,20001767,2010-12-17,9999-12-31 00:00:00,Administrative Assistant II/S,The job requires: knowledge equivalent to that...,A2,Professionals,C2,Administrative Assistant/Supervisor/Coordinator,Y,...,2010-12-01,None,N,None,None,N,HR_OM_JOB_SAP_EXTRACT,2013-10-15,HR_OM_JOB_SAP_EXTRACT,2017-07-27 22:47:16